{% extends 'base.html' %}

{% block title %}
Викторина
{% endblock %}

{% block body %}
<div class="container">
    <h2 class="text-center">Викторина</h2>
    <p class="text-end">Счет: {{ current_user.score }}</p>
    <form action="{{ url_for('quiz_answer') }}" method="POST" class="quiz">
            <h3>{{ question.text }}</h3>
            {% for option in options %}
                <div class="choice_answer"><input class="form-check-input" type="radio" name="answer" value="{{ option }}">{{ option }}<br></div>
            {% endfor %}
            <input  type="hidden" name="question_id" value="{{ question.id }}">
            <div class="button_submit  text-center"><input class="btn btn-primary btn-lg" type="submit" value="Ответить"></div>
    </form>
</div>
{% endblock %}