{% extends 'base.html' %}

{% block title %}
Регистрация
{% endblock %}

{% block body %}
<div class="container text-center">
    <h2>Зарегистрироваться</h2>
    <p>{{error}}</p>
    <form method="post" class="login">
        <div class="d-grid gap-3 col-4 mx-auto">  
            <label for="new_login">
                <input class="form-control" type="text" name="new_login" id="new_login" placeholder="Введите логин" required>
            </label>
            <label for="view_name">
                <input class="form-control" type="text" name="view_name" id="view_name" placeholder="Имя для отображения на сайте" required>
            </label>
            <label for="password">
                <input class="form-control" type="password" name="password" id="password" placeholder="Введите пароль" required>
            </label>
            <label for="repeat_password">
                <input class="form-control" type="password" name="repeat_password" id="repeat_password" placeholder="Повторите пароль" required>
            </label>
            <button type="submit" class="btn btn-primary btn-lg">Создать аккаунт</button>
        </div>
    </form>
</div>
{% endblock %}